extends ../layouts/admin-layout.pug

block content
    if (action !== 'undefined' && action === 'edit')
            div.alert.alert-success The photo has been updated!
    if (action !== 'undefined' && action === 'delete')
        div.alert.alert-danger The photo has been deleted!
    div(style='padding-right:35px') 
        if photos.length>0
            table.table.table-bordered 
                thead 
                    tr 
                        th(style='width:10%') Image 
                        th Description 
                tbody 
                    each photo in photos 
                        tr 
                            td 
                                img(src=`/img/${photo.image}` width='80')
                            td #{photo.description}
                            td.d-flex 
                                a.btn.btn-primary.btn-sm(href=`/admin/edit-blog/${photo.id}`) Edit
                                form(action='/admin/delete-photo' method='POST')
                                    input(type='hidden' name='_csrf' value=`${csrfToken}`)
                                    input(type='hidden' name='photoid' value=`${photo.id}`)
                                    button(type='submit').btn.btn-danger.btn-sm.ml-2 Delete

    a.btn.btn-primary.btn-sm(href='/admin/add-gallery') Yeni Foto Ekle