extends ../layouts/admin-layout.pug

block content
    table.table
        thead
            tr
                th Image
                th Product Name
                th Price
                th Quantity
                th Client Name
                th Client Surname
                th Client Email
                th Client Phone
                th Client City
                th Client District 
                th Client Adress

        tbody
            each product in order.products
                tr
                    td
                        img(src=`/img/${product.image}` width="80")
                    td #{product.name}
                    td #{product.orderItem.price}
                    td #{product.orderItem.quantity}
                    td #{info.orderUserName}
                    td #{info.orderUserSurname}
                    td #{info.orderUserEmail}
                    td #{info.orderUserPhone}
                    td #{info.orderUserCity}
                    td #{info.orderUserDistrict}
                    td #{info.orderUserFullAdress}







                    
        tfoot
            tr
                td(colspan="2") #{order.createdAt.toDateString()}
                td
                - var total = 0;
                each product in order.products
                    - total += (product.price * product.orderItem.quantity)
                td  #{total} TL
