extends ../layouts/main-layout.pug

include ../mixins/createProduct.pug

block content
    .container
        .row.w-100
            //- .col-md-3
            //-     include ../includes/menu.pug

            .col-md-12
                include ../includes/slider.pug


                //- div(style="padding-top: 50px;").row.w-100
                //-     if products.length > 0
                //-         each product in products 
                //-             +createProduct(product)
                //-     else 
                //-         h1 THERE ARE NO PRODUCT
        section.face-problem-categories-section
            .face-problem-categories-container
                a.problem-item
                    .problem-box
                        .problem-image
                            img(src="/img/phonecat.webp", alt="")
                        label.problem-title Telefon
                a.problem-item
                    .problem-box
                        .problem-image
                            img(src="/img/poltio_camasir_mak.webp", alt="")
                        label.problem-title Çaşamaşır Makinesi
                a.problem-item
                    .problem-box
                        .problem-image
                            img(src="/img/notebookcat.webp", alt="")
                        label.problem-title Notebook
                a.problem-item
                    .problem-box
                        .problem-image
                            img(src="/img/poltio_foto_mak.webp", alt="")
                        label.problem-title Fotoğraf Makinesi
                a.problem-item
                    .problem-box
                        .problem-image
                            img(src="/img/poltio_saat.webp", alt="")
                        label.problem-title Giyilebilir Teknoloji

        section.section-space.p-top-bot-70
            .container
                .row
                    .col-12
                        .product-section-title
                            h2.title Telefon
                            .product-section-box
                                p.product-p-title.product-section-box-active Telefon
                                p.product-p-title Notebook
                                p.product-p-title Fotoğraf Makinesi
                                p.product-p-title Giyilebilir Teknoloji
                .row.mb-n4.mb-sm-n10.g-3.g-sm-6.product-append
                    if products.length > 0
                        each product in products 
                            +createProduct(product)
                    else 
                        h1 THERE ARE NO PRODUCT

        section.section-space.p-top-bot-70            
            h2.text-center.pb-3 BLOGS
            .container 
                .row 
                    each blog in blogs 
                        .col-xl-3.col-lg-3.mt-1(style='margin-bootom:50px;') 
                            .col-blog.mt-1.w-100
                                .img-container
                                    a(href=`/blog/${blog.id}`)
                                        img(src=`/img/${blog.image}` style='width:100%;height:100%;')
                                .d-flex.flex-row.blog-section.justify-content-start.gap-3.align-items-center.mt-3.mb-2
                                    .d-flex.flex-column
                                        p.blog-date-p #{moment(blog.createdAt).format('DD-MM-YYYY')}
                                        a(href=href=`/blog/${blog.id}`)
                                            h3.blog-date-h3  #{blog.title}