extends ../layouts/admin-layout.pug

block content
    if (action !== 'undefined' && action === 'edit')
            div.alert.alert-success The blog has been updated!
    if (action !== 'undefined' && action === 'delete')
        div.alert.alert-danger The blog has been deleted!
    div(style='padding-right:35px') 
        if blogs.length>0
            table.table.table-bordered 
                thead 
                    tr 
                        th(style='width:10%') Image 
                        th(style='width:25%') Name 
                        th Description 
                tbody 
                    each blog in blogs 
                        tr 
                            td 
                                img(src=`/img/${blog.image}` width='80')
                            td #{blog.title}
                            td !{blog.description}
                            td.d-flex 
                                a.btn.btn-primary.btn-sm(href=`/admin/edit-blog/${blog.id}`) Edit
                                form(action='/admin/delete-blog' method='POST')
                                    input(type='hidden' name='_csrf' value=`${csrfToken}`)
                                    input(type='hidden' name='blogid' value=`${blog.id}`)
                                    button(type='submit').btn.btn-danger.btn-sm.ml-2 Delete

    a.btn.btn-primary.btn-sm(href='/admin/add-blog') Yeni Blog Ekle